<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1., shrink-to-fit=yes">
    <!-- <meta http-equiv="refresh" content="5"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <title>ePIC Hackathon 2025</title>
</head>
<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
<!--  -->
    <header class="container">
      <nav class="navbar navbar-expand-md fixed-top bg-steel">
        <div class="container" >
              <!-- <a class="new-navstyle" href="{{ url_for('allusers') }}">All Participants</a> -->
              {% if current_user.is_authenticated %}
              <a class="new-navstyle" href="{{ url_for('leaderboard') }}">Home</a>
              <a class="new-navstyle" href="{{ url_for('submit') }}">Submit</a>
              <a class="new-navstyle" href="{{ url_for('allusers') }}">All Participants</a>
              <a class="new-navstyle" href="{{ url_for('profile') }}">Profile</a>
              <a class="new-navstyle" href="{{ url_for('logout') }}">Logout <br> {{ current_user.username }}</a>
              {% else %}
              <a class="new-navstyle" href="{{ url_for('leaderboard') }}">Home</a>
              <a class="new-navstyle" href="{{ url_for('submit') }}">Submit</a>
              <a class="new-navstyle" href="{{ url_for('allusers') }}">All Participants</a>
              <a class="new-navstyle" href="{{ url_for('login') }}">Login</a>
              {% endif %}
        </div>
      </nav>
      <div class = "container">
            <h1 class="glow" href="epic-eic-org"> <a href="https://agenda.infn.it/event/43344/sessions/31806/#20250123">
              <img class="logo-img" src="{{url_for('static', filename='images/ePIC-logo.png')}}">
            </a>  ePIC Hackathon 2025</h1>
            <h2 class="countdown-timer" id = 'countdown-timer'></h2>
      </div>
    </header>
    <main role="main" class="container">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="boxed-container alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
    </main>

  <script >
    // '.tbl-content' consumed little space for vertical scrollbar, 
    // scrollbar width depend on browser/os/platfrom. 
    // Here calculate the scollbar width .
    $(window).on("load resize ", function() {
      var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
      $('.tbl-header').css({'padding-right':scrollWidth});
    }).resize();
  </script>
</body>
</html>
